<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
      voluptatum inventore earum! Deserunt error quia rem corrupti, vitae
      tempora aperiam. Adipisci quod id eos sequi sed, magni expedita architecto
      corrupti, magnam laborum recusandae, totam quis porro suscipit.
      Necessitatibus magnam optio corrupti modi id, ipsa omnis facilis eligendi
      delectus eos similique?
    </div>
  </div>
</div>
